.btn {
  background: #e7e7e7;
  background-image: -webkit-linear-gradient(top, #73675C, #40352C);
  background-image: -moz-linear-gradient(top, #73675C, #40352C);
  background-image: -ms-linear-gradient(top, #73675C, #40352C);
  background-image: -o-linear-gradient(top, #73675C, #40352C);
  background-image: linear-gradient(to bottom, #73675C, #40352C);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Tahoma;
  color: #ffffff;
  font-size: 100%;
  padding: 10px 20px 10px 20px;
}

.btn:hover {
  background: #555555;
  background-image: -webkit-linear-gradient(top, #40352C, #40352C);
  background-image: -moz-linear-gradient(top, #40352C, #40352C);
  background-image: -ms-linear-gradient(top, #40352C, #40352C);
  background-image: -o-linear-gradient(top, #40352C, #40352C);
  background-image: linear-gradient(to bottom, #40352C, #40352C);
  
}


.blockquote {
  padding: 3px 10px;
  border: #40352C 5px solid;
  width   : 800px;
  height  : 450px; 
  margin: 20px auto;
  background-color:rgba(232, 204, 169,0.7);
  position:relative;
}

h1 {
    color: #40352C;
    font-family: Tahoma;
    font-size:45px;
    text-align: center;
}

h2 {
    color: #000000;
    font-family: Tahoma;
    font-size:12px;

    display: inline-block;
}

h3 {
    color: #000000;
    font-family: Tahoma;
    font-size:12px;

}
.rb{
    color: #000000;
    font-family: Tahoma;
    font-size:12px;
}


#header{
  font-family: Tahoma;
  font-size:60px;
  text-align: center;
  position: fixed;
  top:0;
  left: 0;
  width:100%;
  height:15%;
  background-color:#40352C;
  color:#FFFFFF;
  padding:10px;
}



